@charset "UTF-8";

/* main elements
============================================ */
html {background: fixed left top url('../assets/images/gw2-vigil.jpg');}
/* headings
============================================ */

/* links
============================================ */
#gw2-h-l:hover, #gw2-h-l:focus {text-decoration: none;} 

/* navigation
============================================ */

/* articles - sections
============================================ */
#korgull {float: left; margin: 20px 20px 20px 10px;}

/* images - tables - forms
============================================ */

/* asides
============================================ */

/* footer
============================================ */

/* layout
============================================ */